<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Website</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <nav>
      <p>AMARIO'S BLOGS</p>
      <div class="menu-items">
        <ul class="menu">
          <li class="nme"><a href="/">Home</a></li>
          <li class="nme"><a href="/about">About</a></li>
          <li class="nme"><a href="/blogs">Blogs</a></li>
          <li class="nme"><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
</body>
</html>